@font-face {
    font-family:'PT Mono';
    src: url('ptm55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'PT Mono';
    src: url('ptm75f-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}


/* ### CLOUDWALL SPECIFIC ### */

	#cw-body {
		margin:0 auto 0 auto; 
		font-size:14.5pt; 
		line-height:1.4em;
		text-rendering: geometricPrecision;
	}
	#cw-body.cw {
		padding:0px 40px 0 40px; 
	}
	
	#cw-body .my-modal {border-radius: 4px;}
	
	#cw-body #textarea { font-size:0.8em; }
	
	#cw-body #cw-space {
		padding-top:25px;
	}
	
	#cw-body #cw-slots {
		transition:width 0.1s, margin 0.1s, opacity 0.3s;
		display:inline-block;
		text-align:center;
		overflow:visible;
		min-height:550px;
	}
	
	#cw-body #cw-slots.cw-shifted {
		overflow:hidden!important;	
		opacity:0.85;
	}
	#cw-body #cw-slots.cw-shifted:before {
		content:" ";
		width:8px;
		height:100%;
		right:0px;
		top:0;
		background-image:url('../i/cut.png');
		background-repeat:repeat-y;
		z-index:+999;
		display: block;
		position: absolute;	
		background-position-x: 1px;
	}
	
	#cw-body #cw-upic {
		border-radius: 200px;
		width: 32px;
		float: right;
		margin: -5px -2px 0 0;
	}
		
	#cw-body .cw-pane {
		transition: width 0.1s, opacity 0.2s;
		display:block;
		overflow:hidden;
	}
	
	#cw-body .cw-pane #cont {
		transition: width 0.1s, opacity 0.2s;
	}
	#cw-body .cw-pane #cont:hover {opacity:1!important}
	
	#cw-body .cw-pane+.cw-side-hoverpane {
		display:none!important;
		position:absolute;top:-4px;
		z-index: +999;
		cursor:pointer;
		opacity:0;
		width:1px;height:1px;
		transition:opacity 0.2s, width 0.2s, height 0.2s;
	}
	#cw-body .cw-pane.hide+.cw-side-hoverpane {
		display:block!important;
		opacity:0.8;
		width:29px;height:17px;
	}
	#cw-body .cw-pane.hide+.cw-side-hoverpane:hover {opacity:1}
	
	
	#cw-body .cw-pane.hide {
		display:block!important;
		opacity:0!important;
		width:0!important;
		transition: width 0.08s, opacity 0.2s;
	}
	

	#cw-body .cw-app {
		display:inline-block!important; 
		transition:opacity 0.25s;
		text-align:left;
		opacity:0.006;
		min-height:200px;
	}
	
	#cw-body .cw-app.cw-app-active {
		opacity:1;
	}
	
	#cw-body .cw-app.hide {
		display:none!important;
		opacity:0.06
	}
	
	#cw-body .cw-app.cw-app-init {
		opacity:0.006!important;
		position:absolute!important;
		top:3000px!important;
		left:0px!important;
	}
	
	#cw-body .cw-app.cw-app-busy:before {
		content:" ";
		position:absolute;
		z-index:+1993;
		background-color:rgba(255,255,255,0.5);
		width:100%;
		height:110%;
		top:-26px;
		left:0;
		background-image: url(../i/loader-bar2.gif);
		background-repeat: repeat-x;
		background-position-y: -7px;
	}
	
	#cw-body .cw-busy {
		height:8px;
		display:inline-block;
		min-width:30px;
		border-radius:10px;
		overflow:hidden;
		background-image: url(../i/loader-bar2.gif);
		background-repeat: repeat-x;
	}
	

	#cw-body .cw-item {padding-bottom:5px;}
	
	

	
	
	
/* ### TAGS ### */		
	
	#cw-body .my-tags {position:relative;}
	#cw-body .my-tags .tag {
		padding:0.15em 0.35em 0.22em 0.35em;
		white-space:nowrap;
	}
	#cw-body .my-tags .tag.active {
		background-color: #E1EDF5;
		color: #274361;
		text-decoration:none; 
		border-radius:2px;
	}
	#cw-body .my-error .my-tags .tag.active {
		background-color: rgba(251, 139, 139, 0.38);
		color: #DD2424;
	}
	#cw-body .my-tags .tag.active:hover { color:#c02;}







/*sysnotes*/

#cw-notes {position: fixed;
	right: 20px;
	top: 20px;
	width: 290px;
	padding: 0px;
	z-index: 2002;
}
#cw-notes>div {
	margin-bottom:20px; 
	border-radius:4px; 
	width:290px; 
	padding:20px; 
	background-color:rgba(0,30,60,0.8);
	border:1px solid white;
	color:#f0f8ff;
	font-size:13pt; 
	line-height:16pt;
	word-wrap: break-word;
}

#cw-notes>div.error {
	background-color:rgba(240,100,100,0.8);
	color:white;
}

#cw-notes>div.warning {
	background-color:rgba(255,230,100,0.8);
	color:#F18500;
}

#cw-notes>div.ok {
	background-color:rgba(222, 247, 170, 0.8);
	color: #4C6B24;
}







/* $.my */
		#cw-body .my-error-tip {font-size:85%; color:rgba(204,0,32,0.7); padding:0px 0 6px 0px; line-height: 1.2em;}
		#cw-body .my-error .variants .tag.active {background-color:#fdd;	color:rgba(204,0,32,0.7) }
		#cw-body .my-row input, .my-row textarea, .my-row select, .my-row .button {margin:0}
		#cw-body .my-row textarea {vertical-align:top}
		#cw-body .my-row .my-label {font-size:90%;line-height:1.1em;}
		#cw-body .my-row .my-shortcut {
			margin:0 0 0 0.25em;
			text-decoration: underline;
			color: #5481A0;
			cursor: pointer; opacity:0.7;
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s, border 0.3s;
			-opera-transition: opacity 0.3s, border 0.3s;
			-ms-transition: opacity 0.3s, border 0.3s;
			-moz-transition: opacity 0.3s, border 0.3s;
		}
		
		#cw-body .my-row .my-shortcut:hover {opacity:1;}
		
		#cw-body .my-row div.my-error-tip {padding:0.3em 0 0 0}
		#cw-body .my-row span.my-error-tip {padding:0}





/* SEARCH  */


		#cw-body .ui-search {
			border-radius:50px!important;
			padding-left:22px!important;
			padding-right:22px!important;
			background-image:url("../i/magnifier-medium.png"); 
			background-position:5px center; 
			background-repeat:no-repeat;
			position:relative;
		}
		
		#cw-body .ui-search-clear {
			margin:1px 0 -1px -21px;
			position:relative;
			opacity:0; display:none;
			-webkit-transition:opacity 0.3s;
			cursor:pointer;
			z-index:5
		}
		
		#cw-body .ui-search.small + .ui-search-clear  {
			margin-bottom:-2px
		}
		
		#cw-body .ui-search.bg-yellow + .ui-search-clear {
			opacity:0.5;
			display:inline-block;
		}
		
		#cw-body .ui-search.bg-yellow + .ui-search-clear:hover {
			opacity:1;
		}
		
		#cw-body .my-search input.ui-search {background-color:#FFF088!important}
		#cw-body .my-search .ui-search-clear {opacity: 0.5!important;display: inline-block!important;}

	
	
	
	
	
	
	
	
	




/*!
	 * jQuery UI General 1.8.21
	 */



.ui-widget-content {
	border:1px solid #B8CBD7;border-radius: 2px;background:white;
	color: #4A5560;
}

.ui-state-active {background-color: #EAF1F5;}


.ui-state-highlight { box-shadow: 0 0 0 1px #B8CBD7 inset;}


/*!* jQuery UI Slider 1.8.21 */
		 
#cw-body .ui-slider { border:1px solid #B8CBD7;border-radius: 100px;background:white;font-size:80%;display:inline-block;}
	
#cw-body .ui-slider-horizontal {border: 1px solid #B8CBD7;
		box-shadow: 1px 1px 2px rgba(31, 111, 210, 0.08) inset;
		height: 0.6em;
	}
	
#cw-body .ui-slider-handle {
		border: 1px solid #B8CBD7;
		background: #EAF1F5;
		border-radius: 0.4em;
		height: 1.22em;
	}
	
#cw-body .ui-slider-handle.ui-state-hover {
		background: #B8CBD7;
	
	}
		 
		.ui-slider { position: relative; text-align: left; }
		.ui-slider .ui-slider-handle { position: absolute; z-index: 1; width: 1.2em; height: 1.2em; cursor: default; }
		.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
		
		.ui-slider-horizontal .ui-slider-handle { top: -.4em; margin-left: -.6em; }
		.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
		.ui-slider-horizontal .ui-slider-range-min { left: 0; }
		.ui-slider-horizontal .ui-slider-range-max { right: 0; }
		
		.ui-slider-vertical { width: .6em; height: 100px; }
		.ui-slider-vertical .ui-slider-handle { left: -.4em; margin-left: 0; margin-bottom: -.6em; }
		.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
		.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
		.ui-slider-vertical .ui-slider-range-max { top: 0; }
		
		
#cw-body input[type="range"] {
		border:1px solid #B8CBD7;border-radius: 100px;background:white;font-size:80%;display:inline-block;
		box-shadow: 1px 1px 2px rgba(31, 111, 210, 0.08) inset;
		height: 0.6em;
	}
	
#cw-body input[type="range"]::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    position: relative;
	    top:0; margin-left: 0;
	    z-index: +1;
	    border: 1px solid #B8CBD7;
		background: #EAF1F5;
		border-radius: 0.4em;
		height: 1.22em;
	}
	
#cw-body input[type="range"]::-webkit-slider-thumb:hover {
		background: #B8CBD7;
	}
	
	
	
	/*!
 * jQuery UI Datepicker 1.8.21
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; font-size: 11pt;}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute;
		top: 2px;
		width: 2.8em;
		height: 1.6em;
		text-align: center;
	}
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block;margin-top: 4px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 97%; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; vertical-align: baseline;}
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }
	
#cw-body .hasDatepicker+span {
	margin:0.1em 0 0 -0.9em; vertical-align:top;line-height:1.1em;display:inline-block;width:0.9em;color:#B8CBD7;font-size:1.2em
	
}

#cw-body .hasDatepicker+span:before {
	content: "\f124";
	font-family: "foundation-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: inherit;
}
	
	
/* SELECT2 */
#cw-body .select2-container .select2-choice {
	font-size: 90%;
	line-height: 1.7em;
}


/* Codemirror */




/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-light.CodeMirror {background: white; color: #202020;}
.cm-s-base16-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-base16-light span.cm-comment {color: #8f5536;}
.cm-s-base16-light span.cm-atom {color: #aa759f;}
.cm-s-base16-light span.cm-number {color: #aa759f;}

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute {color: #87A249;}
.cm-s-base16-light span.cm-keyword {color: #ac4142;}
.cm-s-base16-light span.cm-string {color: #F3A062;}

.cm-s-base16-light span.cm-variable {color: #90a959;}
.cm-s-base16-light span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-light span.cm-def {color: #d28445;}
.cm-s-base16-light span.cm-bracket {color: #202020;}
.cm-s-base16-light span.cm-tag {color: #ac4142;}
.cm-s-base16-light span.cm-link {color: #aa759f;}
.cm-s-base16-light span.cm-error {background: #ac4142; color: #505050;}

.cm-s-base16-light .CodeMirror-activeline-background {background: #DDDCDC !important;}
.cm-s-base16-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}


/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment {color:#75787b}
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property {color:#1d75b3}
.cm-s-neo .cm-atom,.cm-s-neo .cm-number {color:#75438a}
.cm-s-neo .cm-node,.cm-s-neo .cm-tag {color:#9c3328}
.cm-s-neo .cm-string {color:#b35e14}
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier {color:#047d65}


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}



/*
Copyright (C) 2011 by MarkLogic Corporation
Author: Mike Brevoort <mike@brevoort.com>

*/
.cm-s-xq-light span.cm-keyword {line-height: 1em; font-weight: bold; color: #5A5CAD; }
.cm-s-xq-light span.cm-atom {color: #6C8CD5;}
.cm-s-xq-light span.cm-number {color: #164;}
.cm-s-xq-light span.cm-def {text-decoration:underline;}
.cm-s-xq-light span.cm-variable {color: black; }
.cm-s-xq-light span.cm-variable-2 {color:black;}
.cm-s-xq-light span.cm-variable-3 {color: black; }
.cm-s-xq-light span.cm-property {}
.cm-s-xq-light span.cm-operator {}
.cm-s-xq-light span.cm-comment {color: #0080FF; font-style: italic;}
.cm-s-xq-light span.cm-string {color: red;}
.cm-s-xq-light span.cm-meta {color: yellow;}
.cm-s-xq-light span.cm-qualifier {color: grey}
.cm-s-xq-light span.cm-builtin {color: #7EA656;}
.cm-s-xq-light span.cm-bracket {color: #cc7;}
.cm-s-xq-light span.cm-tag {color: #3F7F7F;}
.cm-s-xq-light span.cm-attribute {color: #7F007F;}
.cm-s-xq-light span.cm-error {color: #f00;}

.cm-s-xq-light .CodeMirror-activeline-background {background: #e8f2ff !important;}
.cm-s-xq-light .CodeMirror-matchingbracket {outline:1px solid grey;color:black !important;background:yellow;}
